<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064363096202-58crfrtbt7o1lh7rtnno0kiud70o3e10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064363096202-58crfrtbt7o1lh7rtnno0kiud70o3e10</string>
	<key>API_KEY</key>
	<string>AIzaSyDVWD12zKUxz1LSjDO29I7Isx37lscX9lc</string>
	<key>GCM_SENDER_ID</key>
	<string>1064363096202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higgstudio.DesignExamples</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d35d3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d35d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064363096202:ios:c677f05d7610d912709573</string>
</dict>
</plist>